%% -*- erlang -*-

 {require_otp_vsn, "(R16|17).*"}.
 {require_min_otp_vsn, "R16B"}.

 {erl_opts, [
             bin_opt_info,
            %compressed
             debug_info,
             warnings_as_errors
            ]}.

 {port_env, [
             %% == groonga ==
             {"CFLAGS", "$CFLAGS -I$GROONGA_HOME/include"},
             {"LDFLAGS", "$LDFLAGS -L$GROONGA_HOME/lib -lgroonga -lstdc++"}
            ]}.

 {port_specs, [
               {"priv/lib/eroonga_nif.so", ["c_src/eroonga.c",
                                            "c_src/eroonga_nif.c"]}
              ]}.

 {ct_log_dir, ".ct"}.
 {ct_extra_params, "-ct_config priv/ct/ct.config -cover priv/ct/ct.cover"}.

 {clean_files, [
                "ebin", "erl_crash.dump",
                ".ct", "test/*.beam"
               ]}.

 {deps_dir, ["deps"]}.
 {deps, [
         {baseline, ".*", {git, "git://github.com/tomaon/baseline.git", "master"}},
         {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "master"}},
         {poolboy, ".*", {git,"git://github.com/devinus/poolboy",{tag,"1.5.1"}}}
        ]}.
