%% -*- erlang -*-

 {require_otp_vsn, "R15|R16"}.

 {erl_opts, [debug_info]}.

 {port_env, [
             %% == groonga ==
             {"CFLAGS", "$CFLAGS -I$GROONGA_HOME/include"},
             {"LDFLAGS", "$LDFLAGS -L$GROONGA_HOME/lib -lgroonga -lstdc++"}
            ]}.

 {port_specs, [
               {"priv/lib/eroonga_drv.so", ["c_src/eroonga.c",
                                            "c_src/eroonga_drv.c",
                                            "c_src/eroonga_util.c"]}
              ]}.

 {ct_log_dir, ".ct"}.
 {ct_extra_params, "-ct_config files/ct/ct.config -cover files/ct/cover.config"}.

 {clean_files, ["ebin", "doc", "priv", "erl_crash.dump", ".ct",
                "test/*.beam", "*.*~", "*/*.*~", "**/*.*~"]}.

 {deps_dir, ["deps"]}.
 {deps, [
         {baseline, ".*", {git, "git://github.com/tomaon/baseline.git", "master"}},
         {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "master"}},
         {poolboy, ".*", {git,"git://github.com/devinus/poolboy",{tag,"1.0.1"}}}
        ]}.
