%% -*- erlang -*-

 {require_otp_vsn, "R15|R16"}.

 {erl_opts, [debug_info]}.

 {clean_files, ["ebin", "doc", "priv", "erl_crash.dump",
                "*.*~", "*/*.*~", "**/*.*~"]}.

 {deps_dir, ["deps"]}.
 {deps, [
         {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", "master"}},
         {poolboy, ".*", {git,"git://github.com/devinus/poolboy",{tag,"1.0.1"}}}
        ]}.
