%% -*- erlang -*-
[
 {eroonga, [
            {process, [
                       {sup, [
                              {local, eroonga_sup},
                              {
                                {one_for_one, 10, 1},
                                [
                                 { eroonga_pool,
                                   {poolboy, start_link, [
                                                          [
                                                           {worker_module, eroonga_client},
                                                           {size, 1},
                                                           {max_overflow, 3}
                                                          ],
                                                          [
                                                           [
                                                            {address, "localhost"},
                                                            {port, 10041},
                                                            {options, [
                                                                       {active, false},
                                                                       {buffer, 293976},
                                                                       {keepalive, true},
                                                                       {mode, binary},
                                                                       {packet, raw},
                                                                       {recbuf, 146988},
                                                                       {sndbuf, 146988}
                                                                      ]},
                                                            {timeout, 10}
                                                           ]
                                                          ]
                                                         ]},
                                   permanent, 5000, worker, [poolboy]}
                                ]
                              }
                             ]}
                      ]}

           ]}
].
