%% -*- erlang -*-
[
 {eroonga, [
            {resource, [
                        {driver, [
                                  {name, <<"eroonga_drv">>}
                                 ]}
                       ]},
            {process, [
                       {sup, [
                              {local, eroonga_sup},
                              {
                                {one_for_one, 10, 1},
                                [
                                 { eroonga_pool,
                                   {poolboy, start_link, [
                                                          [
                                                           {worker_module, eroonga_drv},
                                                           {size, 1},
                                                           {max_overflow, 3}
                                                          ],
                                                          [
                                                           <<"eroonga_drv">>,
                                                           [
                                                            stderr_to_stdout,
                                                            binary,
                                                            {parallelism, true}
                                                           ],
                                                           [
                                                            {path, <<"/tmp/groonga/x3">>},
                                                            {options, [
                                                                       {encoding, utf8}
                                                                      ]}
                                                           ]
                                                          ]
                                                         ]},
                                   permanent, 5000, worker, [poolboy]}
                                ]
                              }
                             ]}
                      ]}
           ]}
].
