%% -*- erlang -*-
[
 {eroonga, [
            {driver, [
                      {name, <<"eroonga_drv">>},
                      {settings,[
                                 stderr_to_stdout,
                                %binary,             % FORCE
                                 {parallelism, true} % default: +spp, erl(1)
                                ]}
                     ]},
            {poolboy, [
                       {eroonga_pool,
                        [
                         {size, 1},
                         {max_overflow, 3}
                        ],
                        eroonga_drv,
                        [
                         {path, <<"/tmp/groonga/x3">>},
                         {options, [
                                    {encoding, utf8}
                                   ]}
                        ]}
                      ]}
           ]}
].
