%% -*- erlang -*-
[
 {eroonga, [
            {poolboy, [
                       {eroonga_pool,
                        [
                         {size, 1},
                         {max_overflow, 3}
                        ],
                        [
                         {address, "localhost"},
                         {port, 10041},
                         {options, [
                                    {active, false},
                                    {buffer, 293976},
                                    {keepalive, true},
                                    {mode, binary},
                                    {packet, raw},
                                    {recbuf, 146988},
                                    {sndbuf, 146988}
                                   ]},
                         {timeout, 10}
                        ]}
                      ]}
           ]}
].
